*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    background-color: #EFF2F9;
    height: 100vh;
}
.card {
    width: 1170px;
    height: 800px;
    background: #FFF;
    box-shadow: 20px 20px 40px 0px rgba(81, 91, 117, 0.25);
    padding: 60px 0 70px;
}